{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8.6"
      }
    }]
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
