# Dependency directory
node_modules

# Code coverage for Istanbul
coverage
.nyc_output

# MS VS Code editor config/options
# .vscode

# Babel output directory
lib

# Apple MAC hidden files
.DS_Store

# coveralls config file
.coveralls.yml

# environment variables and secure credentials
.env

# private notes
notes.txt