# Dependency directory
node_modules

# Code coverage for Istanbul
coverage
.nyc_output

# MS VS Code editor config/options
.vscode

# Apple MAC hidden files
.DS_Store

# coveralls config file
.coveralls.yml

# environment variables and secure credentials
.env
.env.example

# private notes
notes.txt

# source files
src/*

# files supporting dev environment
bin/*
test/*
webpack/*
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json
travis.yml
testem.node.json